.bsf-custom-fonts-file-wrap.form-field{
	position: relative;
	margin: 1.5em 0;
}
.bsf-custom-fonts-upload.button {
    float: right;
    margin-right: 5%;
    margin-top: 2px;
}
.astra-review-notice-container {
	display: flex;
	align-items: center;
	padding-top: 10px;
}

.astra-review-notice-container .dashicons {
    font-size: 1.4em;
	padding-left: 10px;
}

.astra-review-notice-container a {
    padding-left: 5px;
    text-decoration: none;
}

.astra-review-notice-container .dashicons:first-child {
    padding-left: 0;
}

.notice-image img {
    max-width: 90px;
}

.notice-content .notice-heading {
    padding-bottom: 5px;
}

.notice-content {
    margin-left: 15px;
}

.notice-container {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: left;
    align-items: center;
}