@tailwind base;
@tailwind components;
@tailwind utilities;

.appearance_page_bsf-custom-fonts #wpcontent {
	padding-left: 0;
}
.bsf-custom-font-dashboard-app {
	input, select {
		border: 1px solid #dddddd;
		border-radius: 2px;
		height: 30px;
	}
	input[type=file] {
		border: 0;
	}
}
.bsf-custom-font-search input {
	border: 0;
	background: transparent;
	padding: 18px 0;
}
.bsf-custom-font-search input:focus {
	outline: none;
	border: 0;
	border-color: transparent;
	box-shadow: none;
}
button.font-file-uploader.btn {
	border: 1px solid #767676;
	margin: 0px;
	padding: 1px 6px;
	border-radius: 2px;
	line-height: 1.6;
}
span.font-filename {
	margin-left: -10px;
}
.font-triggers {
    position: absolute;
    right: 15px;
    display: inline-flex;
    align-items: center;
    gap: 15px;
}
.bcf-font-list-wrap > .bg-white:not(:first-child) > .list-font-title,
.bcf-font-list-wrap > .bg-white .list-font-variations > .font-variation-item:not(:first-child) {
    border-top: 1px solid rgb(221 221 221 / var(--tw-border-opacity));
}
.bcf-font-grid-wrap > .p-6 {
    border-right: 1px solid rgb(221 221 221 / var(--tw-border-opacity));
    border-bottom: 1px solid rgb(221 221 221 / var(--tw-border-opacity));
}
.bcf-font-size-range .components-input-control__container {
    position: relative;
}
.bcf-font-size-range .components-input-control__container .components-input-control__backdrop:before {
    position: absolute;
    content: "PX";
    right: 4px;
    padding-left: 4px;
    border-left: 1px solid #949494;
    font-weight: 600;
    top: -1px;
    color: #949494;
    font-size: 11px;
    line-height: 30px;
}
.bcf-font-size-range .components-input-control__container input::-webkit-outer-spin-button,
.bcf-font-size-range .components-input-control__container input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.bcf-font-size-range .components-input-control__container input[type=number] {
  -moz-appearance: textfield;
}
.edit-font-variation-wrap select {
    padding-top: 2px;
    padding-bottom: 2px;
}
